$hover-color: rgb(158, 164, 178);
$gold: #d4af37;
$black: #1a1a1a;
$white: #f9f9f9;
$grey: #4a4a4a;
$title: "Source Serif 4", serif;
$text: "Inter", sans-serif;

@mixin hover-effect {
  color: $hover-color;
  transition: 0.2s ease;
}

body {
  font-family: $text;
  background-color: $black;
  color: $white;

  .navbar {
    transition: all 0.4s ease;
    border-bottom: 1px solid $gold;

    .navbar-brand {
      font-family: $title;
      letter-spacing: 2px;
      color: $gold;
      &:hover {
        opacity: 0.7;
      }
    }

    .nav-link {
      text-transform: uppercase;
      color: $white;
      font-weight: bold;
      font-size: 0.9rem;
      letter-spacing: 2px;

      &:hover {
        opacity: 0.7;
        color: $gold;
      }
    }

    .btn-cerrar-sesion {
      color: $white;
      padding: 6px;
      transition: all 0.4s;
      border-radius: 3px;
      &:hover {
        background-color: $gold;
        color: $black;
      }
    }
  }

  .bg-black {
    background-color: $black;
  }

  .bg-grey {
    background-color: $grey;
  }

  .hero-section {
    height: 85vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background:
      linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url("../public/imagen-principal-nommade.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    h1 {
      font-family: $title;
      font-weight: 700;
      font-size: 4rem;
      color: $white;
      span {
        color: $gold;
      }
    }

    p {
      font-family: $title;
      color: $white;
      font-weight: 300;
      letter-spacing: 2px;
    }
  }

  main {
    #productos-container {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        transition: transform 0.5s ease;
      }
    }

    h1 {
      font-family: $title;
      color: $gold;
      text-align: center;
      font-weight: 700;
      margin-bottom: 3rem;
      font-size: 2.5rem;
      text-transform: uppercase;
    }

    h2 {
      font-family: $title;
      color: $gold;
      text-align: center;
      font-weight: 700;
      margin-bottom: 3rem;
      font-size: 1.8rem;
      text-transform: uppercase;
    }

    p {
      font-family: $title;
      color: $white;
      font-weight: 300;
      letter-spacing: 2px;
    }

    .section-padding {
      padding: 100px 0;
    }

    .btn-custom {
      padding: 10px;
      border: none;
      color: $gold;
      text-decoration: none;
      font-weight: bold;
      transition: all 0.4s;
      border-radius: 3px;
      text-transform: uppercase;
      &:hover {
        background-color: $gold;
        color: $black;
      }
    }

    .novedades-section {
      h4 {
        font-family: $title;
        color: $gold;
        font-weight: 700;
        font-size: 2.5rem;
        text-transform: uppercase;
      }

      p {
        font-family: $title;
        color: $white;
        font-weight: 400;
      }
    }

    .custom-form {
      background-color: $black;
      padding: 3rem;
      border: 1px solid $gold;

      .form-control {
        border-bottom: 2px solid $white;
        color: $black;
        padding: 12px;
        font-size: 0.8rem;
        text-transform: uppercase;
      }

      label {
        color: $gold;
        font-size: 1.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
    }
  }

  footer {
    color: $white;
    background-color: $black;
    border-top: 2px solid $gold;
    padding-top: 20px;

    .footer-link {
      transition: color 0.3 ease;
      &:hover {
        color: $gold;
      }
    }

    img {
      filter: grayscale(0.5);
      transition: 0.5s;
    }

    h5 {
      letter-spacing: 2px;
      font-size: 0.9rem;
      position: relative;
      display: inline-block;
      padding-bottom: 8px;
    }
  }
}
